{{ define "main" }}

<header class="main-header">
	{{ partial "nav" . }}
</header>
<section class="page-banner" style="background-image: url(/images/about-banner.png)">
	<div class="overlay">
		<div class="container" style="position: relative;">
			<div class="banner-heading">
				<h2>About Us</h2>
			</div>
		</div>
	</div>
</section>

<section class="about-artical space">
	<div class="container">
		<div class="wraper clearfix">
			<div class="row" style="margin-bottom: 60px;">
				<div class="col-md-3 col-sm-4">
					<div class="radious">
						<img src="/images/Feb2018.png" alt="">
					</div>
				</div>
				<div class="col-md-6 col-sm-8">
					<h3>Meet The Owners</h3>
					<p>We offer friendly and personable service as well as information about local attractions and places to visit. We speak Indonesian as well as English and cook up a fabulous Asian breakfast (as well as traditional Aussie of course) – <b>all included!</b></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Location</h3>
					<p>Located on the idyllic shore of Northwest Bay in southeastern Tasmania, this property is based near the village of Howden, around a 20-minute drive from Hobart, providing the perfect setting for guests looking to relax in the outstanding Tasmanian landscape. The property is within easy reach of Bruny Island and lies between the town of Kingston and the coastal town of Margate, while the Peter Murrell Conservation Area is a short drive away, as is the scenic Huon Trail.</p>
					<h3>Our accommodation</h3>
					<p>The main room is a generous 50m2 of living/dining room with an adjoining bedroom with a king size bed, with all the comforts you would expect of a high quality residence. It has sea and/or garden views from all rooms and opens to a hall leading to your private bathroom. The front door opens directly to the outside to the car park.</p>
					<img src="/images/about-img.png" class="img-full" alt="">
					<p>The second guest bed room is a generous 12m2 room with a queen bed, built in wardrobes and water and garden views. We only accept one family or group of friends at a time, so there are no shared facilities and the second bedroom is exclusively for family or friends of the booking party.</p>
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}
