{{ define "main" }}

<header class="main-header">
	{{ partial "nav" . }}
</header>
<section class="page-banner">
        <div class="overlay">
            <div class="container" style="position: relative;">
                <div class="banner-heading">
                    <h2>Attractions</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome space">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading text-center">
                        <p>Whether guests are yearning for an action-packed adventure or just want to chill out in the fresh ocean breeze, the South West Bay of Tasmania <b>offers an array of activities and attractions</b> for guests of all interests.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="attractions">
        <div class="container custom space">
            <div class="row">
                <div class="col-xs-12">
                    <div class="attraction-heading">
                        <h2>Within 30 minutes</h2>
                    </div>
                </div>
            </div>
            <div class="borders">
                <div class="border"> </div>
                <div class="border"></div>
                <div class="border hidden991"></div>
                <div class="border hidden991"></div>
            </div>
            <div class="content-wraper clearfix">
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-1.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="https://www.discovertasmania.com.au/attraction/themargatetrain" target="_blank" class="title">Margate Train</a>
                                <p>Tasmania’s last passenger train has its carriages of fun to browse – antiques and collectables; books, barber, gifts, lollie shop, pancake café, picnic and kids play area.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-2.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="https://www.wellingtonpark.org.au/visitors/" target="_blank" class="title">Mt. Wellington</a>
                                <p>Like a mother to Hobartians and hosting an array of walking tracks, helicopter rides and spectacular views</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-3.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="http://taroona.tas.au/history/shot-tower/" target="_blank" class="title">Taroona Shot tower</a>
                                <p>Built in 1870, lead shot was made by dropping molten lead from a great height. Explore the Tower to see how they did it.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-8.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="#" target="_blank" class="title">Blackmans Bay Beach</a>
                                <p>A beautiful sheltered bay with a local town to explore and get some lunch after a walk on the 700 m wide beach.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="attraction-heading">
                        <h2>Day Trips</h2>
                    </div>
                </div>
            </div>
            <div class="content-wraper clearfix">
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-5.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="http://www.discovertasmania.com.au/attraction/hastingscavesandthermalsprings" target="_blank" class="title">Hastings Caves and Thermal Springs</a>
                                <p>Absolutely huge net work of tastefully lit caves to explore followed by a dip in the thermal springs!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-6.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="http://www.richmondvillage.com.au/" target="_blank" class="title">Historic Richmond Town</a>
                                <p>With Australia’s oldest stone bridge in a beautiful setting with lots of local attractions.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-7.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="http://zoodoo.com.au/" target="_blank" class="title">Zoodoo Animal Safari Park</a>
                                <p>Drive around the park and meet native and exotic animals such as tigers and lions. With picnic and other facilities on site.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="content">
                        <img src="/images/ser-4.png" alt="">
                        <div class="text-wraper">
                            <div class="text">
                                <a href="#" target="_blank" class="title">Bruny Island</a>
                                <p>Take the car on the ferry to beautiful Bruny Island and cruise the historical and scenic sites and taste the local gourmet food</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ end }}
