{{ define "main" }}
<header class="main-header">
	{{ partial "nav" . }}
</header>
<section class="page-banner" style="background-image: url(/images/contact-banner.png)">
	<div class="overlay">
		<div class="container" style="position: relative;">
			<div class="banner-heading">
				<h2>Contact Us</h2>
			</div>
		</div>
	</div>
</section>

<section class="contact-details">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="content">
					<h3>Address</h3>
					<p>Brightwater B&B <br> 264 Brightwater Road <br> Howden Tasmania, 7054</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="content">
					<h3>Contact Details</h3>
					<p><b>Email:</b> <a href="mailto:brightwaterbandb@gmail.com">brightwaterbandb@gmail.com </a> <br>
						<b>Phone:</b> <a href="tel:+61400374904">+61 400374904</a></p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="content">
					<h3>Important Information</h3>
					<p>
						<b> Checkin Time:</b> 15.00 <br>
						<b>Checkout Time:</b> 10.00 <br>
						<b>Drive Time To Airport:</b> 40 minutes <br>
						<b>Drive Time To City:</b> 20 minutes
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-map">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-5">
				<div class="left-content">
					<h3>How to get here</h3>
					<p>35 minutes from Hobart Airport and 15 minutes south from Hobart, take the Southern Outlet from Hobart direction of Huonville and turn left to Howden.</p>
					<div class="contact-button">
						<div><a href="http://www.channelmanager.com.au/BookAndPayNow/BookAndPayNowRooms.aspx?ID=10334" target="_blank" class="btn">Book your stay at Brightwater</a></div>
						<div><a href="/rates" class="btn">View rates and facilities</a></div>
					</div>
					<a href="/reviews"><u>Read guest reviews</u></a>
				</div>
			</div>
		</div>
	</div>
	<div class="map">
		<a class="map-link" target="_blank" href="https://www.google.co.uk/maps/place/Brightwater+bed+and+breakfast/@-43.023602,147.309766,15z/data=!4m2!3m1!1s0x0:0xcf61c2b6ed9342aa?sa=X&ved=0ahUKEwiFzISH2ebZAhUhJ8AKHSARBw0Q_BIIhQEwCg"></a>
		<p>Find us here</p>
	</div>
</section>

{{ end }}
