{{ define "main" }}

<header class="main-header">
	{{ partial "nav" . }}
</header>
<section class="rates">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="rates-heading">
					<h2><span>Rates</span></h2>
					<p>Whether guests are yearning for an action-packed adventure or just want to chill out in the fresh ocean breeze, the South West Bay of Tasmania offers an array of activities and attractions for guests of all interests.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="col-md-4">Description</th>
								<th class="col-md-3">Included </th>
								<th class="col-md-5 text-right">Price Per Night </th>
							</tr>
						</thead>
						<tbody>
							{{ range .Params.rates_entries }}
							<tr>
								<td class="col-md-4">{{ .description }}</td>
								<td class="col-md-3">{{ .included }}</td>
								<td class="col-md-5 text-right">{{ .price }}</td>
							</tr> 
							{{ end }}
						</tbody>
					</table>
				</div>
				<p>* Maximum persons 5 adults + 1 infant (three beds + crib)</p>
			</div>
		</div>
	</div>
</section>
<section class="cancel space">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 facilitie-list">
				<div class="content">
				   <div class="important">IMPORTANT</div>
					<div class="cancel-heading">
						<h2><span>Cancellation policy</span></h2>
						<p>Full payment at time of booking.</p>
					</div>
					
					<div class="row">
						<div class="col-xs-12">
							<ul>
								{{ range .Params.cancellation_entries }}
									<li>{{ .description }}</li>
								{{ end }}
							</ul>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="rates-service space">
	<div class="container">
	   <div class="row flex service-wraper">
		   <div class="col-md-3 col-sm-6 col-ss-6 col-xs-12">
			   <div class="service">
				   <div class="overlay">
					   <h3>Living Room</h3>
					   
					   <a class="link zoom" href="/images/room-1-large.jpg"><i class="fas fa-plus"></i></a>
					   
				   </div>
			   </div>
		   </div>
		   <div class="col-md-3 col-sm-6 col-ss-6 col-xs-12">
			   <div class="service" style="background-image: url(/images/room-2.png)">
				   <div class="overlay">
					   <h3>Bedroom</h3>
					   <a class="link zoom" href="/images/room-2-large.jpg"><i class="fas fa-plus"></i></a>
					   
				   </div>
			   </div>
		   </div>
		   <div class="col-md-3 col-sm-6 col-ss-6 col-xs-12">
			   <div class="service" style="background-image: url(/images/room-3.png)">
				   <div class="overlay">
					   <h3>Garden</h3>
					   <a class="link zoom" href="/images/room-3-large.jpg"><i class="fas fa-plus"></i></a>
				   </div>
			   </div>
		   </div>
		   <div class="col-md-3 col-sm-6 col-ss-6 col-xs-12">
			   <div class="service" style="background-image: url(/images/room-4.png)">
				   <div class="overlay">
					   <h3>Courtyard </h3>
					   <a class="link zoom" href="/images/room-4-large.jpg"><i class="fas fa-plus"></i></a>
				   </div>
			   </div>
		   </div>
	   </div>
		<div class="row">
			
			<div class="col-lg-8 col-md-12 facilitie-list">
				<div class="section-heading2">
					<h2><span>Facilities</span></h2>
					<p>The rooms are well appointed with TV, DVD, tea and coffee making facilities, free WiFi internet.</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><span>Fridge</span></li>
							<li><span>Microwave</span></li>
							<li><span>Cutlery and crockery for take ins</span></li>
							<li><span>Outside barbq</span></li>
							<li><span>Outside seating</span></li>
							<li><span>Nearby public tennis court (free)</span></li>
							<li><span>Nearby golf course</span></li>
							<li><span>Bathtub</span></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><span>Heat pump and air conditioning</span></li>
							<li><span>Iron and ironing board</span></li>
							<li><span>Hair dryer</span></li>
							<li><span>Bathroom complimentaries</span></li>
							<li><span>Cot for infants</span></li>
							<li><span>Free breakfast</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}
