{{ define "main" }}

<header class="main-header">
	{{ partial "nav" . }}
</header>
<section class="page-banner" style="background-image: url(images/review-banner.png)">
	<div class="overlay">
		<div class="container" style="position: relative;">
			<div class="banner-heading">
				<h2>Guest <br> Reviews</h2>
			</div>
		</div>
	</div>
</section>

<section class="review space">
	<div class="container">
		<div class="wraper">
			<div class="row">
				<div class="col-xs-12">
					<div class="review-heading">Reviews from our guests</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<ul>
						<li class="clearfix">
							<p>We loved our stay, thank you Richard and Indri for your great hospitality which added to our adventure. Till next time. (Brian and Doline, Botswana, 2018)</p>
						</li>
						<li class="clearfix">
							<p>Thank you so much for everything. Your house is so beautiful as well as the view. All way perfect! Very good breakfast also. (Nicolas and Sandrine, France, 2017)</p>
						</li>
						<li class="clearfix">
							<p>Friendly dogs, great breakfasts, garden full of flowers and sunshine all the time. Thanks Richard and Indri for these two days (Dona and Hein, Germany, 2017)</p>
						</li>
						<li class="clearfix">
							<p>We stayed here for 3 nights in this wonderful, spacious and cosy accommodation. The location is fantastic and the apartment well furnished. We enjoyed living here for the past days and did appreciate the early breakfasts provided by our hosts. Thanks for taking such good care of us! (Andre and Miny, Netherlands, 2016)</p>
						</li>
						<li class="clearfix">
							<p>Beautiful place inside and out. Great food. Relaxing! Our kids loved your dog! (Wright, 2016)</p>
						</li>
						<li class="clearfix">
							<p>Very nice, everything is perfect, the view and so on…we love this place! (Xi and Dong, China, 2016)</p>
						</li>
						<li class="clearfix">
							<p>Beautiful place inside and out. Great food. Relaxing! Our kids loved your dog! (Wright, 2016)</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}
